<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @musica.name %>
</p>

<p>
  <strong>Duracao:</strong>
  <%= @musica.duracao %>
</p>

<p>
  <strong>Letra:</strong>
  <%= @musica.letra %>
</p>

<p>
  <strong>Album:</strong>
  <%= @musica.album %>
</p>

<%= link_to 'Edit', edit_musica_path(@musica) %>
<br>
<%= link_to 'Back (lista de musicas)', musicas_path(:banda_id => @musica.banda.id) %> |
<%= link_to 'Back (banda)', banda_path(@musica.banda) %>
