<%= form_with(model: banda, local: true) do |form| %>
  <% if banda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(banda.errors.count, "error") %> prohibited this banda from being saved:</h2>

      <ul>
      <% banda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :banda_name %>
  </div>

  <div class="field">
    <%= form.label :genero %>
    <%= form.text_field :genero, id: :banda_genero %>
  </div>

  <div class="field">
    <%= form.label :pais_de_origem %>
    <%= form.text_field :pais_de_origem, id: :banda_pais_de_origem %>
  </div>

  <div class="field">
    <%= form.label :membros %>
    <%= form.text_field :membros, id: :banda_membros %>
  </div>

  <div class="field">
    <%= form.label :media_rating %>
    <%= form.text_field :media_rating, id: :banda_media_rating %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status, id: :banda_status %>
  </div>

  <!-- #Dan -->
  <div class="field" style="visibility: hidden">
    <%= form.label :usuario_id %>
    <%= form.text_field :usuario_id, id: :banda_usuario_id %>
  </div> 
  
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
