<p id="notice"><%= notice %></p>

<h1>Ratings<%= @fa.fa_id %></h1>
<% if !@fa.rating.empty? %>

	<table>
	  <thead>
		<tr>
		  <th>Nota</th>
		  <th>Comentario</th>
		  <th colspan="3"></th>
		</tr>
	  </thead>

	  <tbody>
		<% @ratings.each do |rating| %>
		  <tr>
			<td><%= rating.nota %></td>
			<td><%= rating.comentario %></td>
			<td><%= link_to 'Show', [ @fa, rating ] %></td>
			<td><%= link_to 'Edit', edit_fa_rating_path(@fa, rating) %></td>
			<td><%= link_to 'Destroy', [ @fa, rating ], method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
	  </tbody>
	</table>

	<br>
<% else %>
	<p><%= @fa.fa_id %> hasn't done any rating yet.</p>
<% end %>

	<%= link_to 'New Rating', new_fa_rating_path(@fa) %>
	<%= link_to 'Back', @fa %>
