<p id="notice"><%= notice %></p>

<p>
  <strong>Nota:</strong>
  <%= @rating.nota %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @rating.comentario %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %>
<br>

<%= link_to 'Back', banda_path(@rating.banda) %>
