<%= form_with(model: fa, local: true) do |form| %>
  <% if fa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fa.errors.count, "error") %> prohibited this fa from being saved:</h2>

      <ul>
      <% fa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :apelido %>
    <%= form.text_field :apelido, id: :fa_apelido %>
  </div>
  
  <!-- #Dan -->
  <div class="field" style="visibility: hidden">
    <%= form.label :usuario_id %>
    <%= form.text_field :usuario_id, id: :fa_usuario_id %>
  </div> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
