<p id="notice"><%= notice %></p>

<h1>Fas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fas.each do |fa| %>
      <tr>
        <td><%= link_to 'Show', fa %></td>
        <td><%= link_to 'Edit', edit_fa_path(fa) %></td>
        <td><%= link_to 'Destroy', fa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fa', new_fa_path %>
