<p id="notice"><%= notice %></p>


<%= link_to 'Lista de Bandas', bandas_path %>
<br>
<%= link_to 'Lista de Interpretations', interpretations_path %>
<br>
<%= link_to 'Lista de Ratings', ratings_path %>
<br>
<%= link_to 'Edit', edit_fa_path(@fa) %> |
<%= link_to 'Back', fas_path %>
