<%= form_with(model: interpretation, local: true) do |form| %>
  <% if interpretation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interpretation.errors.count, "error") %> prohibited this interpretation from being saved:</h2>

      <ul>
      <% interpretation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :interpretation %>
    <%= form.text_area :interpretation, id: :interpretation_interpretation %>
  </div>
  
  <!-- #Dan -->
  <div class="field" style="visibility: hidden">
    <%= form.label :musica_id %>
    <%= form.text_field :musica_id, id: :interpretation_musica_id %>
  </div> 
  
  <!-- #Dan -->
  <div class="field" style="visibility: hidden">
    <%= form.label :fa_id %>
    <%= form.text_field :fa_id, id: :interpretation_fa_id %>
  </div> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
