<h1>Editando Usuario</h1>

<%= render 'form' %>

<ul>
    <li><%= link_to "Edit", edit_usuario_path(current_usuario) %></li>
    <li><%= link_to "Delete", @usuario, method: :delete%></li>
</ul>

<%= render 'form', usuario: @usuario %>

<%= link_to 'Show', @usuario %> |
<%= link_to 'Back', usuarios_path %>
