<p id="notice"><%= notice %></p>

<html>
    <body>
            <h3> Perfil de <%= @usuario.username %> </h3>
            <%= @usuario.email %>
            <% if current_usuario == @usuario %>
                <ul>
                    <li><%= link_to "Edit", edit_usuario_path(current_usuario) %></li>
                    <li><%= link_to "Delete", @usuario, method: :delete%></li>
                </ul>
            <%end%>
    </body>
</html>

<%= link_to 'Back', usuarios_path %>
